<ion-header>
    <ion-toolbar color="dark">
      <ion-title>Redefinir Senha</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="ion-text-center">
      <h1>Recuperação de Senha</h1>
      <p>Caso as informações fornecidas estejam corretas, você receberá um e-mail com um link para redefinir sua senha. Não se esqueça de verificar sua pasta de spam.</p>
      <ion-button color="dark" (click)="close()">Entendi</ion-button>
    </div>
  </ion-content>
  